@{
    Layout = "_AuthLayout";
    ViewData["Title"] = "Kayıt oldunuz.";
}
<div class="d-flex flex-column justify-content-center align-items-center">
<h1  class="mb-5">Kayıt Başarılı</h1>

<h6>Mailinize gönderilen aktivasyon linkine tıklayarak hesabınızı etkinleştirebilirsiniz.</h6>
<h6>Etkinleştiremediklerindenmişcesine misiniz?</h6>

<a href="/auth/login" class="btn btn-success mt-5">Giriş Yap</a>
</div>